/*
	Kaleb Rayle
	Style.css
	9/25/23
*/
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, article{
	margin: 0;
	padding: 0;
	border: 0;
}
header {
    padding: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Dela Gothic One', sans-serif;
    border: 2px ridge #152238;
    border-width: 20px;
    background-image: url(https://i0.wp.com/25.media.tumblr.com/c9f23336353eecfb5455e06eb1f34b30/tumblr_mnqik6wqJD1qejvrxo3_500.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
body{
	background-color: #152238;
	color: #FFFFFF;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
	color:#FFFFFF;
}
a:hover{
	color: #152270;
}
nav{
	border: 4px inset #152238;
	padding-left: auto;
	padding-right: auto;
	/*background-color: #743dc7;*/	
}
nav ul{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}
nav li{
	display: -webkit-inline-box;
	font-size: 1.5em;
	font-family: Veranda, Arial, sana-serif;
	font-weight: bold;
	padding: 0.5em 1em;
}
main{
	color: #FFFFFF;
}
main h2{
	text-align: center;
}
main ul{
	list-style-type: none;
}

*{
	box-sizing: border-box;
}

table{
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

caption {
	font-size: 1.5em;
	font-weight: bold;
	padding: 1%;
}

th, td{
	border: 1px solid #000;
	padding: 2%;
}

th{
	/* background-color: #000; */
	color: #fff;
	font-size: 1.15em;
}

tr:nth-child(even){
	background-color: #EEB4FF;
}

.img{
	margin-top: 5%;
	box-sizing: border-box;
	max-width: calc(100vw);
	display: block;
	border: 8px solid #000;
	border-radius: 70px;
	box-shadow: 5px 5px 10px black;
}
.mobile{
	display: block;
}
.tablet-desktop{
	display: none;
}
.bio{
	border: 4px inset #152238;
}
.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.maps{
	border: 8px solid #000;
	width: 40%;
}
.social{
	height: 20px;
	width: 20px;
	float: center;
}

.frame{
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

.pic-text{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

.resume{
	margin: 20px;
	width: 50%; 
	height: 500px;
}

footer{
	font-size: 0.75em;
	text-align: center;
	color: #fff;
}	
footer p{
	color: #fff;
	text-decoration: none;
}
.footer {
  position: relative;
  width: 100%;
  height: 1.25em;            
}

/*Tablet Viewport*/
@media screen and (min-width: 630px), print{
	.tablet-desktop{
		display: block;
	}

	.mobile{
		display: none;
	}

	.grid{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 20px;
		padding-left: 17%;
	}

	.pic-text{
		font-size: 1em;
		padding: 10px;
	}

	.footer{
		bottom: 0;
	}
}

/*Desktop Viewport*/
@media screen and (max-width: 782px) {
	header {
		box-sizing: border-box;
		padding: 0;
		font-size: 5vw;
		width: 100vw;
	}

	nav ul li {
		display: block;
		width: 100%;
		border-top: 1px solid white;
		padding: 0.5em 0;
	}

	nav ul :first-child {
		border-top: 0;
	}

}


@media screen and (min-width: 1015px), print{
	.pic-text{
		font-size: 1.5em;
		padding: 20px;
	}

	.frame{
		opacity: 0.9;
	}

	.frame:hover{
		opacity: 1;
		box-shadow: 8px 8px 10px #808080;
	}
}
/* @media screen and (min-width: 783) {
	
} */
